
<div style="display:flex;flex-flow: wrap;">

    <div class="blocks" *ngFor="let i of blockItens">
        <div>Conta: {{ i.name }}</div>
        <div>Descrição: {{ i.description }}</div>
        <div>Dia de Pagamento: {{ i.day }}</div>
        <mat-form-field appearance="fill">
          <mat-select>
            <mat-option *ngFor="let food of foods" [value]="food.value">
              {{food.viewValue}}
            </mat-option>
          </mat-select>
        </mat-form-field>
    </div>

</div>
