<mat-card class="example-card">
    <mat-card-title>CADASTRO DESPESAS</mat-card-title>
    <mat-card-subtitle>Diária</mat-card-subtitle>
    <mat-card-content>
        <form [formGroup]="itemFormfields">
            <label for="list-item1">First Name: </label>
            <input id="list-item1" type="text" formControlName="item1">
            <label for="list-item2">Last Name: </label>
            <input id="list-item2" type="text" formControlName="item2">
        </form>
        </mat-card-content>
    <mat-card-actions>
      <button mat-button (click)='saveForm()'>Save</button>
      <button mat-button (click)='onNoClick()'>Close</button> <!--[mat-dialog-close]="true"-->
    </mat-card-actions>
</mat-card>